@charset 'utf-8';

* {margin:0; padding:0; box-sizing:border-box;}
img {display:block; max-width:100%;}

#gallery {border:0px solid pink; width:760px; margin:auto; margin-top:50px; display:flex;}
#gallery h2 {display:none;}

#big {border:0px solid red; flex:6;}

#small {border:0px solid blue; flex:1.05; display:flex; flex-direction:column;}
#small button {border:none; display:block;}
#small img {width:100%;}